* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.4s all ease;
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 40vh;
    margin-top: 5rem;
    overflow: hidden;
    background-color: rgb(235, 179, 37);
}
div {
    background-color: rgb(192, 147, 35);
    padding: 10px 20px;
}

div label {
    font-size: 1.4rem;
}
input {
    width: 3.3rem;
    /* text-align: center; */
    background-color:rgb(235, 179, 37);
    outline: none;
    border: none;
    padding: 4px 7px;
    font-size: 1.4rem;
}
h1::after {
    content: "|";
}
